.owner_name {
  color: rgba(255, 96, 96, 1);
  font-size: 18px;
  font-weight: 500;
  width: 93px;
  height: 52px;
  text-align: right;
  padding-right: 15px;
  padding-top: 10px;
}

.owner_photo {
  border-radius: 90px;
  width: 64px;
}
