@import "./header.css";
@import "./footer.css";
@import "./components/nav.css";
@import "./components/banner.css";
@import "./components/cards.css";
@import "./components/gallery.css";
@import "./error.css";
@import "./components/collapse.css";


* {
    font-family: Montserrat;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}