@import "./header.css";
@import "./footer.css";
@import "./components/nav.css";
@import "./components/banner.css";
@import "./components/cards.css";
@import "./components/gallery.css";
@import "./error.css";
@import "./components/collapse.css";
@import "./components/carrousel.css";
@import "./components/pagelogement.css";
@import "./components/tag.css";
@import "./components/host.css";
@import "./components/rating.css";

* {
  font-family: Montserrat;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

/* Ne rien afficher quand la résolution passe en dessous de 374px*/
@media (max-width: 399px) {
  * {
    display: none;
  }
}

/* Une marge apparait au dessus de 1441 px*/
/* @media (min-width: 1441px) {
   body {
    margin-right: 10%;
    margin-left: 10%;
   } 
} */