@import "./variables.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./nav.scss";
@import "./banner.scss";
@import "./cards.scss";
@import "./gallery.scss";
@import "./error.scss";
@import "./collapse.scss";
@import "./carrousel.scss";
@import "./pagelogement.scss";
@import ".//tag.scss";
@import "./host.scss";
@import "./rating.scss";

* {
  font-family: Montserrat;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 399px) {
  * {
    display: none;
  }
}