.collapse {
  margin: 30px auto;
}

.collapse,
.collapse_dropdown_title,
.fa-chevron-up,
.fa-chevron-down {
  color: $color_1;
}

.collapse_dropdown,
.collapse_dropdown_title {
  display: flex;
}
.collapse_dropdown {
  flex-direction: column;
  font-size: 16px;
}

.collapse_dropdown_title,
.collapse_dropdown_content {
  max-width: 1000px;
  margin: auto;
}
.collapse_dropdown_title {
  justify-content: space-between;
  border-radius: 5px;
  padding: 10px 20px 10px 15px;
  background: rgba(255, 96, 96, 1);
}

.fa-chevron-up,
.fa-chevron-down {
  position: relative;
  padding: 5px;
  font-size: 24px;
}

.collapse_dropdown_content {
  color: $color_3;
  background: rgba(246, 246, 246, 1);
  padding: 10px 20px 10px 15px;
}
@media (max-width: 1024px) {
  .collapse_dropdown_container {
    margin-right: 2%;
    margin-left: 2%;
  }
}
