.slide {
	width: 90%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}
.slider {
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	border-radius: 10px;
	opacity: 0;
	transition: all ease-out 1s;
}
.active {
	opacity: 1;
}
.slide_img {
	position: relative;
	width: 1200px;
	height: 415px;
	object-fit: cover;
	border-radius: 25px;
	
}
.slider_number {
	position: relative;
	font-size: 18px;
	font-weight: 500;
	right: 470px;
	bottom: 20px;
	color: $color_1;
}
.left_arrow {
	position: absolute;
	font-size: 96px;
	color: $color_1;
	cursor: pointer;
	z-index: 1;
	left: 100px;
}
.right_arrow {
	position: absolute;
	font-size: 96px;
	color: $color_1;
	cursor: pointer;
	z-index: 1;
	right: 100px;
}
@media (max-width: 1240px) {
	.slide {
		border-radius: 10px;
		width: 90%;
		height: 300px;
	}
	.left_arrow {
		font-size: 36px;
		left: 3%;
	}
	.right_arrow {
		font-size: 36px;
		right: 3%;
	}
}
